@font-face {
  font-family: 'Noto Sans';
  src: url('../../../assets/fonts/NotoSans.ttf') format('truetype');
}

@font-face {
  font-family: 'Noto Sans HK';
  src: url('../../../assets/fonts/NotoSansHK.ttf') format('truetype');
}

@font-face {
  font-family: 'Noto Sans SC';
  src: url('../../../assets/fonts/NotoSansSC.ttf') format('truetype');
}

:root {

    --vp-font-family-base: "Noto Sans", "Noto Sans HK", "Noto Sans SC";

    /* 主页标题颜色 */
    --vp-home-hero-name-color: #7799CC;

    /* 图标背景 
    --vp-home-hero-image-background-image: #7799CC; */

    /* brand按钮 */
    --vp-button-brand-border: #7799CC;
    --vp-button-brand-text: #3c3c43;
    --vp-button-brand-bg: #7799CC;

    --vp-button-brand-hover-border: #7799CC;
    --vp-button-brand-hover-text: #fff;
    --vp-button-brand-hover-bg: #7799CC;

    --vp-button-brand-active-border: #7799CC;
}
