/* 左侧导航栏 */
.book .book-summary {
    font-family: "Noto Sans CJK SC", "PingFang SC", "Microsoft YaHei UI", "Microsoft Yahei", "Lantinghei SC", "Hiragino Sans GB", "WenQuanYi Micro Hei", "WenQuanYi Zen Hei", "Microsoft JhengHei UI", "Microsoft JhengHei", "PingFang TC", "Lantinghei TC", "Noto Sans CJK TC", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* 正文 */
.book .book-body {
    font-family: "Noto Sans CJK SC", "PingFang SC", "Microsoft YaHei UI", "Microsoft Yahei", "Lantinghei SC", "Hiragino Sans GB", "WenQuanYi Micro Hei", "WenQuanYi Zen Hei", "Microsoft JhengHei UI", "Microsoft JhengHei", "PingFang TC", "Lantinghei TC", "Noto Sans CJK TC", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* 代码块 */
.markdown-section pre>code {
    font-family: "Monaco", "InputMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
}

/* 行内代码块 */
.markdown-section code {
    font-family: "Monaco", "InputMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
}

.honkit-link {
     display: none !important;
}